* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

#nav-btn {
    opacity: 80%;
    background-color: #00315e;
    color: whitesmoke;
    margin-top: 13px;
    margin-right: 10px;
}

#base {
    background-color: #99adff;
    color: whitesmoke;
    height: calc(100vh - 64px);
    font-size: 24px;
}

.icons {
    font-size: 50px;
}

.icons i {
    margin: 15px;
    font-size: 100px;
}

.proj {
    font-size: 200px;
    margin-top: 50px;
    margin: 320px;
    cursor: pointer;
}

.proj:hover {
    color: wheat;
}

span {
    font-size: 16px;
    margin-left: 20px;
}

.single {
    border: 3px solid lightgoldenrodyellow;
    border-radius: 10px;
    height: 200px;
    width: 600px;
    padding: 20px;
    display: flex;
    margin-left: 180px;
    margin-top: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 0.3fr);
}

#photo {
    margin-right: auto;
}
