* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5vh;
}

#nav-btn {
    opacity: 80%;
    background-color: #00315e;
    color: whitesmoke;
    margin-top: 1.2vh;
    margin-right: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-color: #99adff;
}

#base {
    background-color: #99adff;
    color: whitesmoke;
    height: calc(100vh - 64px);
    font-size: 1.75vh;
}

.icons {
    font-size: 5vh;
}

.icons i {
    margin: 3vh;
    font-size: 10vh;
}

.proj {
    font-size: 15vh;
    margin: 23vh;
    margin-top: 32vh;
    cursor: pointer;
}

.proj:hover {
    color: wheat;
}

.single {
    border: 0.4vh solid lightgoldenrodyellow;
    border-radius: 1vh;
    height: 17vh;
    width: 23vw;
    padding: 2vh;
    display: flex;
    margin-left: 15vh;
    margin-top: 7vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 0.3fr);
}

#photo {
    margin-right: auto;
}
